body {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow-y: scroll;
}
@media (max-width: 768px){
    body {
        padding-top: 125px;
    }
}

.plugin {
    box-shadow: none;
    background: #fafafa;
    margin-bottom: 0;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
}

.plugin h3{
    margin-top: 0px;
}

.plugin .label{
    margin: 1px;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.github-fork-ribbon {
    position: fixed !important;
}