<!DOCTYPE html>
<html ng-app="npm-plugin-browser">
    <head>
        <title>gulp plugin search</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

        <link rel="stylesheet" href="css/style.css">

        <meta name="author" content="Robin Böhm">
        <meta name="email" content="robin.boehm@angularjs.de">
        <meta name="description" content="Easy search for gulp your plugins">
        <meta name="keywords" content="gulp,plugins,build,plugin,search">

        <!-- github fork ribobn -->
        <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.css">
        <!--[if lt IE 9]>
        <link rel="stylesheet" href="bower_components/github-fork-ribbon-css/gh-fork-ribbon.ie.css">
        <![endif]-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body ng-controller="PluginListCtrl">

        <!-- gh fork ribbon -->
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/gulpjs/plugins">Fork me on GitHub</a>
            </div>
        </div>

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://gulpjs.com/">
                        gulp plugins
                    </a>
                </div>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input ng-change="limit=15" type="text" class="form-control"
                               placeholder="search {{(data | filter:search).length}} plugins" ng-model="search">
                    </div>
                </form>
            </div>
        </nav>

        <section class="container">

            <div ng-init="limit=15" infinite-scroll="limit=limit+25">

                <div class="plugin" ng-repeat="plugin in data | filter:search | limitTo:limit track by plugin.name">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-8">
                            <h3>
                                <a ng-href="{{plugin.homepage}}" ng-bind="plugin.name"></a>
                                <small ng-bind="plugin.version"></small>
                            </h3>
                            <div>
                                <span ng-bind="plugin.description"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div>
                                <a ng-href="http://github.com/{{plugin.author}}" ng-bind="plugin.author"></a>
                                /
                                <a ng-href="{{plugin.homepage}}" ng-bind="plugin.name"></a>
                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 col-sm-offset-5 hidden-xs">
                            <p class="description">
                                <a ng-repeat="keyword in plugin.keywords track by $index"
                                   ng-href="http://npmsearch.com/?q={{keyword}}"
                                   target="_blank"
                                   class="pull-right label label-default"
                                   ng-bind="keyword"></a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <!-- authors bar
        <footer class="navbar-inverse">
            <div class="container">
                <p class="text-muted pull-right">
                    by <a rel="author" target="_blank" href="https://plus.google.com/+RobinBöhm">Robin B&ouml;hm</a>,
                    <a href="http://twitter.com/roobijn" target="_blank">@roobijn</a>
                </p>
            </div>
        </footer>-->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

        <!-- Angular -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js"></script>

        <script src="bower_components/ngInfiniteScroll/ng-infinite-scroll.js"></script>

        <!-- Other deps -->

        <!-- App -->
        <script src="scripts/module.js"></script>
        <script src="scripts/controller/pluginList.js"></script>


        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'http://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-46536456-3', 'search-gulp-plugins.herokuapp.com');
            ga('send', 'pageview');

        </script>
    </body>
</html>