html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.plugin-list-container {
    height: 100%;
    width: 100%;
    background: rgb(207, 70, 70);
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.fixed-title {
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
    text-align: center;
    background: #fff;
    line-height: 60px;
    font-size: 28px;
    position: fixed;
    color: #66696a;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}

.logo {
    font-family: 'Grand Hotel', cursive;
    font-size: 28px;
    float: left;
    margin-left: 20px;
}

.plugin-search {
    text-align: center;
    transition: all 300ms;
    border: 1px solid #E0E0E0;
    padding: 4px;
    border-radius: 3px;
    font-family: inherit;
    color: #333;
    line-height: 120%;
    outline: 0;
    height: 32px;
    font-size: 18px;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    max-width: 400px;
    width: 50%;
}

.plugin-search:focus {
    border-color: #555;
}

.plugin-list {
    padding: 20px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.1);
    background: #fff;
    z-index: 2;
    position: relative;
    margin: 60px auto;
    list-style: none;
    max-width: 900px;
}

.no-results {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 36px;
    color: #333;
}

.plugin {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 35px;
    padding-top: 35px;
    text-align: center;
}

.plugin:last-child {
    padding-bottom: 50px;
    border-bottom: 0;
}

.title {
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-weight: 400;
    font-size: 36px;
    color: #333;
}

.description {
    min-height: 40px;
    line-height: 40px;
    color: #2B2A29;
    font-size: 18px;
    font-weight: 300;
    word-break: keep-all;
}

.more-info {
    min-height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #999;
}

.tags a {
    transition: all 300ms;

    border: 1px solid #E0E0E0;
    text-decoration: none;
    border-radius: 3px;
    padding: 4px;
    padding-right: 8px;
    padding-left: 8px;
    margin-left: 5px;
    font-size: 13px;
    color: #333;
}

.tags a:hover {
    border-color: #555;
}

@media (max-width: 900px) {
    .plugin-list {
        margin-left: 0;
        margin-right: 0;
        padding: 10px;
    }

    .more-info {
        display: none;
    }
}

.ng-cloak,.x-ng-cloak,[data-ng-cloak],[ng-cloak],[ng\:cloak],[x-ng-cloak] {
    display: none !important
}