<!doctype html>
<html ng-app="npm-plugin-browser">
    <head>
        <title>gulp.js plugin registry</title>
        <meta name="description" content="Discover gulp.js plugins">
        <meta name="keywords" content="gulp,plugins,build,plugin,search">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
        <link rel="dns-prefetch" href="//registry.gulpjs.com">

        <!-- build:css css/app.css -->
        <link rel="stylesheet" href="css/style.css">
        <!-- endbuild -->

        <link href="//fonts.googleapis.com/css?family=Grand+Hotel|Roboto+Slab:400,300" rel="stylesheet">

        <!-- META -->
        <meta property="og:title" content="gulp.js plugin registry">
        <meta property="og:url" content="http://gulpjs.com/plugins">
        <meta property="og:description" content="Discover gulp.js plugins">

        <!-- OpenSearch -->
        <link rel="search" type="application/opensearchdescription+xml" href="./opensearch.xml" />
    </head>

    <body ng-controller="PluginListCtrl" class="good-font">
        <nav class="fixed-title" role="navigation">
            <a class="logo" href="http://gulpjs.com/" role="banner">gulp.js</a>
            <input ng-change="limit=15" type="search" role="search" class="ng-cloak good-font plugin-search" placeholder="Search {{ (data | filter:notBlacklisted).length }} plugins..." ng-model="search" autofocus>
        </nav>

        <section class="ng-cloak plugin-list-container" ng-init="limit=20" infinite-scroll="limit=limit+25" role="main">
            <ul class="plugin-list" ng-show="data" role="list">
                <li class="no-results" ng-hide="(data | filter:search | filter:notBlacklisted).length">No results found</li>

                <li role="listitem" class="plugin"
                 ng-repeat="plugin in data | filter:search | filter:notBlacklisted | limitTo:limit track by $index">
                    <a ng-href="https://npmjs.org/package/{{plugin.name}}/" target="_blank" title="Install" class="title" ng-bind="plugin.name"></a>
                    <div class="description" ng-bind="plugin.description"></div>
                    <div class="more-info">
                        <div class="tags">
                            <a ng-repeat="keyword in plugin.keywords | orderBy:orderByGulpKeywords track by $index"
                               ng-href="http://npmsearch.com/?q=keywords:{{keyword}}"
                               target="_blank"
                               ng-bind="keyword"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <!-- build:js js/vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.js"></script>
        <script src="../bower_components/angular/angular.js"></script>
        <script src="../bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
        <script src="../bower_components/slide-header/slide-header.js"></script>
        <script src="../bower_components/slide-header/directive.js"></script>
        <!-- endbuild -->

        <!-- build:js js/app.js -->
        <script src="scripts/module.js"></script>
        <script src="scripts/controller/pluginList.js"></script>
        <!-- endbuild -->
    </body>
</html>
